h1{font-weight: 3000;}
/* this is our life */
.box {
    height: 75px;
    width: 75px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 10;
    background-color: darkblue;
    animation-name: ghumakad;
    animation-duration: 4s;
    animation-timing-function:  ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 4;
    animation-direction: alternate;
}